
body{
	font-family: "Open Sans";
}

#wrapper{

	background-image: url("../image/background/background.jpg");
	height: 850px;
	background-size: cover;
	text-align: center;
	padding-top: 250px;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	background-attachment:fixed;

}

#wrapper h1{
	font-size: 65px;
	margin-bottom: 50px;
	letter-spacing: 3px;
	font-weight: 600;
}

#wrapper h2 {
	font-size: 25px;
	margin-bottom: 3em;
	letter-spacing: 3px;
	font-weight: 300;

}

.slogan {

	font-size: 20px;
	color: #428bca;
}


.spacer{
	height: 8em;
}

.feature p {

font-weight: 300;
letter-spacing: 1px;
}

.feature img {
	margin-bottom: 2em;
}

.navbar-transparent {
	background-color: rgba(0, 0, 0, 0.5);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus,
.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white; }


#footer {
	background-color: #222;
	color: #aaaaaa;
	font-size: 30px;
	padding-top: 15px;
	padding-bottom: 15px; 
}

#footer a {
  color: #cccccc;


}

.social {
	margin-top: 1em;
}

#footer a:hover {
  color: white;
}

#footer ul{
	list-style-type:none;

	font-size: 15px;
	margin-right: 3em;
}


.gianni {
	font-size: 8px

}

hr.small {
    max-width: 150px;
}


<style>
.carousel-page
{
width:100%;
height:400px;
background-color:#5f666d;
color:white;
}
</style>

/* Portfolio */

.portfolio {
    padding: 50px 0;
}

.portfolio-item {
    margin-bottom: 30px;
}

.img-portfolio {
    margin: 0 auto;
}

.img-portfolio:hover {
    opacity: 0.8;
}

/* Call to Action */

.call-to-action {
    padding: 50px 0;
}

.call-to-action .btn {
    margin: 10px;
}






#strap {
	background-color: #428bca;
	padding-top: 5em;
    padding-bottom: 5em;
    font-size: 20px;
    color: white;
}


#strap h3 {
	font-weight: 600;
	letter-spacing: 1px;
	font-size: 20px;
}

#strap p {
	font-size: 17px;
	font-weight: 400;

}



#bio
{
	background-image: url(../image/background/bio.jpg);
	height: 550px;
	background-size: cover;
	background-attachment:fixed;
}


















