
body{
	font-family: "Open Sans";
}

#wrapper{

	background-image: url("../image/background/background.jpg");
	height: 850px;
	background-size: cover;
	text-align: center;
	padding-top: 250px;
	color: white;
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);

}

#wrapper h1{
	font-size: 45px;
	margin-bottom: 1em;
	letter-spacing: 3px;
	font-weight: 400;
}

#wrapper h2 {
	font-size: 25px;
	margin-bottom: 2em;
	letter-spacing: 3px;

}

.spacer{
	height: 8em;
}

.feature p {

font-weight: 300;
letter-spacing: 1px;
}

.feature img {
	margin-bottom: 2em;
}

.navbar-transparent {
	background-color: rgba(0, 0, 0, 0.7);
}

.navbar-transparent .navbar-brand,
.navbar-transparent .navbar-nav > li > a {
  color: #eeeeee;
}

.navbar-transparent .navbar-brand:hover,
.navbar-transparent .navbar-brand:active,
.navbar-transparent .navbar-brand:focus,
.navbar-transparent .navbar-nav > li > a:hover,
.navbar-transparent .navbar-nav > li > a:active,
.navbar-transparent .navbar-nav > li > a:focus,
.navbar-transparent .navbar-nav > .open > a,
.navbar-transparent .navbar-nav > .open > a:hover,
.navbar-transparent .navbar-nav > .open > a:focus {
  color: white; }


#footer {
	background-color: #222;
	color: #aaaaaa;
	font-size: 30px;
	padding-top: 15px;
	padding-bottom: 15px; 
}

#footer a {
  color: #cccccc;


}

.social {
	margin-top: 1em;
}

#footer a:hover {
  color: white;
}

#footer ul{
	list-style-type:none;

	font-size: 15px;
	margin-right: 3em;
}







